body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.3px;
  color: var(--dark);
}

h1 {
  font-size: 68px;
}
h2 {
  font-size: 26px;
  line-height: 1.4;
}
h3 {
  font-size: 21px;
  letter-spacing: -0.5px;
  line-height: 30px;
}
p {
  font-size: 17px;
  line-height: 1.6;
}

.font-accent{
  font-family: Georgia, serif;
}

a{
  color: var(--dark);
}

#map{
  width: 100%;
  height: 530px;
}

.map-infoWindow{
  text-align: left;
  color: var(--dark);
}

.map-infoWindow p {
  font-size: 15px;
}

.map-infoWindow h3 {
  margin-bottom: 0;
  font-size: 18px;
}

.map-infoWindow .location {
  font-size: 13px;
  opacity: 0.5;
  margin-top: 6px;
}

#cover-video{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#hero-filter {
  background-color: rgba(27,32,35,0.5);
  height: 100vh;
  position: absolute;
}

#hero{
  /*background-color: var(--dark);*/
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  position: relative;
}

#hero .subtitle{
  max-width: 100%;
}

#hero .logo{
  position: absolute;
  top: 60px;
  left: 80px;
  font-size: 15px;
  text-transform: uppercase;
  opacity: 0.8;
  margin: 0;
}

#hero .text {
  padding: 20px;
}

#hero h1{
  margin: 0;
  font-size: 60px;
  letter-spacing: -0.5px;
}

#hero p{
   color: white;
   font-size: 26px;
   opacity: 0.6;
}

#hero img {
  margin-top: 10px;
}

#hero .menu{
  position: absolute;
  top: 60px;
  right: 80px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -0.3px;
}


#hero .menu a {
  color: white;
  text-decoration: none;
  padding-left: 15px;
  opacity: 0.8;
  transition: opacity 200ms;
}

#hero .menu a:hover {
  opacity: 1;
}

#skills{
  min-height: 80vh;
  text-align: center;
  padding: 80px 0;
}

#skills-text{
  text-align: center;
}

#skills-list img{
  min-height: 100px;
}

#skills-list{
  margin-top: 40px;
}

#skills-list p{
  margin-bottom: 20px;
}

.text-lite
{
  color: var(--dark);
  opacity: 0.7;
}

#speaking{
  background: linear-gradient(-225deg, rgb(24, 30, 33) 0%, rgb(34, 44, 51) 50%);
  padding-top: 80px;
  color: #D8D8D8;
  text-align: center;
}

#speaking h2{
  margin-top: 0;
}

.speaking-text{
  color: white;
  opacity: 0.6;
  max-width: 600px;
  margin: 0 auto;
}

#talks{
   padding: 60px 0 80px 0;
}

#talks h2{
  text-align: center;
}

.banner{
  background: linear-gradient(-225deg, rgb(24, 30, 33) 0%, rgb(34, 44, 51) 50%);
  padding: 50px 0;
  color: white;
}
.banner p{
  opacity: 0.65;
}

.banner .right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.button{
  text-transform: uppercase;
  min-width: 100px;
  text-align: center;
  font-weight: bold;
  padding: 15px 35px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: background-color 200ms, color 200ms;
}

.button:hover{
  background-color: white;
  color: var(--dark);
}

#testimonials{
  padding: 80px 0 60px 0;
}
#testimonials h2{
  text-align: center;
}
.review{
  margin-bottom: 40px;
  color: var(--dark);
  font-size: 18px;
}
.review p{
  opacity: 0.65;
}
.review .reviewer{
  opacity: 0.4;
  font-size: 14px;
  margin-top: 0;
}
.review h4{
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 15px;
}

footer{
  background-color:  rgba(34, 44, 51, 0.98);
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .icons{
  display: flex;
}

footer .icons img {
  padding-right: 15px;
  opacity: 0.5;
  transition: opacity 200ms;
}

footer .icons img:hover {
  opacity: 0.7;
}

footer .text{
  color: white;
  opacity: 0.3;
  font-size: 13px;
  text-align: right;
}

footer .text a {
  color: white;
  transition: opacity 200ms;
}

@media (max-width: 839px){
  .banner .right {
    justify-content: flex-start;
}
#hero h1{
    font-size: 50px;
}
h2 {
    font-size: 24px;
}
.mdc-layout-grid__cell--span-2 {
    display: none;
}
#hero .logo {
    left: 30px;
    top: 30px;
}
#hero .menu {
    right: 30px;
    top: 30px;
}
}

@media (max-width: 700px){
  #hero h1{
    font-size: 36px;
}
footer .icons img {
    width: 20px;
}
}


#video-wrapper {
   position: relative;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}

#video-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-225deg, rgba(16, 33, 43, 0.8) 0%, rgba(24, 43, 56, 0.6) 50%);
    z-index: 10;
}

video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: linear-gradient(-225deg, rgba(16, 33, 43, 0.8) 0%, rgba(24, 43, 56, 0.6) 50%);
}

#hero .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px){
  .menu-blog{
    display: none;
  }
}
@media (max-width: 380px){
  .menu-contact{
    display: none;
  }
}

::-moz-selection { background: rgb(34, 44, 51);color: white; }
::selection { background: rgb(34, 44, 51);color: white; }

#talks .workshop-logo{
    display: flex;
    align-items: center;
    height: 100%;
}
